.footer {
  display: flex;
  align-items: center;
  height: 150px;
  background-color: #424242;
  margin-top: 75px;
  padding-bottom: 25px;
}

.footer .container {
  text-align: center;
}

.footer h4 {
  color: #ffffff;
  text-align: center;
}

.footer a {
  color: #ffffff;
  font-size: 24px;
}

.footer a:hover {
  color: #EDB0B4;
}
